.left-section {
  width: 50%;
  overflow: hidden;
  padding-right: 230px;
  .intro {
    padding-top: 85px;
    &__title {
      font-weight: 500;
      font-size: 44px;
    }
    &__text {
      margin-top: 10px;
      font-size: 20px;
      color: #8c8c8c;
    }
    &__suptitle {
      margin-top: 60px;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 20px;
    }
  }
}
